.h500 {
    height: 500px;
}

.h570 {
    height: 570px;
}

.h620 {
    height: 620px;
}

.h645 {
    height: 645px;
}

.h16per {
    height: 16%;
}

.h84per {
    height: 84%;
}

.w15per {
    width: 15%;
}

.w45per {
    width: 45%;
}

.w55per {
    width: 55%;
}

.w70per {
    width: 70%;
}